<mat-table [dataSource]="courses">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Curso </mat-header-cell>
      <mat-cell *matCellDef="let course"> {{ course.name }} </mat-cell>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
      <mat-cell *matCellDef="let course"> {{ course.category }}
        <mat-icon aria-hidden="false" aria-label="Category of course">{{ course.category |  category }} </mat-icon>
      </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="action-column">
        <div class="action-column-header">
          <button mat-mini-fab color="accent" aria-label="Add Course" (click)="onAdd()" >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-header-cell>

      <mat-cell *matCellDef="let course" class="action-column">
        <button mat-icon-button color="primary" aria-label="Edit Course"  (click)="onEdit(course)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" aria-label="Remove Course" (click)="onDelete(course)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
